* {
    font-family: "Lato", "Open Sans", "Roboto Thin", 'Helvetica Neue', Helvetica, sans-serif;
}
h1 {
    color: gainsboro;
    font-size: 4.6vw;
    padding-left: 3%;
    padding-bottom: 1%;
}
hr {
    height:3%;
    border-width: medium;
    margin: 3%;
    background-color: lightgrey;
    vertical-align: baseline;
    display: flex;
}

.sections {
    display: flex;
}
h3 {
    color: lightgray;
    font-size: 2vw;
    padding: inherit;
    display: inline-block;
    margin: 0 auto;
    width: auto;
    height: auto;
}
.dashboard{
    display: flex;
    padding: 3%;
}
.container {
    border: 2px solid #5B5756;
    border-radius: 3% 3% 3% 3%;
    margin: 1%;
    background-color: lightgray;
    width: 20%;
    float: left;
    display: inline-block;
}
img {
    width: 80%;
    height: auto;
    max-height: 30%;
    object-fit: contain;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 5% 10% 10%;
}

.container .info{
    color: black;
    font-size:1.7vw;
    padding: 10%;
    font-weight: bold;
}

.container_2 {
    border: 2px solid #5B5756;
    border-radius: 3% 3% 3% 3%;
    background-color: lightgray;
    width: 94%;
    height: 60%;
    margin: 4%;
}